.header-section {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 25vh; */
  height: 150px;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
  margin: 0 auto;
  padding: 0;
}

.logo {
  border: 2px solid green;
  height: 100%;       
  width: auto;      
  object-fit: contain; 
  display: block;
}